/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
 like-icon  для svg-иконки анимированного сердца
 card__like-button  для кнопки Like рядом с иконкой
 card__icon-button  для кнопки, оборачивающей иконку
 card__icon-button  для кнопки, оборачивающей иконку
 is-liked  для обозначения состояния лайкнутой иконки в виде сердца
 button__text  для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-text-weight);
  background-image: var(--page-background);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  padding-top: 100px;
  font-family: var(--accent-font);
  text-align: center;
  line-height: 1;
}

.container {
  max-inline-size: var(--content-width);
  margin: 0 auto;
}

.header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  margin-bottom: 20px;
  line-height: 100%;
  font-weight: 400;
}

.header__subtitle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  vertical-align: text-top;
}

.header__wrapper {
  background-color: var(--color-primary);
  padding-block: clamp(120px, 110.77px + 2.4615vw, 128px);
  border: var(--border-default);
  box-sizing: border-box;
}
