/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
 like-icon  для svg-иконки анимированного сердца
 card__like-button  для кнопки Like рядом с иконкой
 card__icon-button  для кнопки, оборачивающей иконку
 card__icon-button  для кнопки, оборачивающей иконку
 is-liked  для обозначения состояния лайкнутой иконки в виде сердца
 button__text  для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-weight: var(--main-font-weight, 410);
  background-image: var(--page-background);
  background-size: cover;
  background-attachment: fixed;
  font-size: var(--text-base);
}

.header {
  padding-top: 100px;
  font-family: var(--accent-font);
  text-align: center;
  line-height: 1;
}

.container {
  max-inline-size: var(--content-width);
  margin: 0 auto;
}

.header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  margin-bottom: 20px;
  line-height: 100%;
  font-weight: 400;
}

.header__subtitle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  vertical-align: text-top;
}

.header__wrapper {
  background-color: var(--color-primary);
  padding-block: clamp(120px, 110.77px + 2.4615vw, 128px);
  border: var(--border-default);
  box-sizing: border-box;
}

.main {
  margin-top: 98px;
  margin-bottom: 100px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: var(--border-default);
}

.card__container-title {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  font-size: 18px;
  min-height: 30px;
  padding: 4px 10px;
  vertical-align: center;
}

.card__title {
  line-height: 22px;
  font-size: var(--text-base);
  font-variation-settings: 'wght' var(--card-title-weight);
}
.card__text {
  font-variation-settings: 'wght' var(--main-text-weight);
}

.card__container-img {
  height: 100%;
  position: relative;
}

.card__images {
  aspect-ratio: 1 / 1;
  width: clamp(371px, 100%, 696px);
  display: block;
  object-fit: cover;
}

.card__img-span {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-size: 14px;
  color: var(--color-primary);
  text-shadow: -1px -1px 0 var(--color-primary), 1px -1px 0 var(--color-primary),
    -1px 1px 0 var(--color-primary), 1px 1px 0 var(--color-primary);
}

@supports (-webkit-text-stroke: 1px var(--color-primary)) or
  (text-stroke: 1px var(--color-primary)) {
  .card__img-span {
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-primary);
    text-stroke: 1px var(--color-primary);
  }
}

.card__footer {
  background-color: var(--color-primary);
  padding: 25px;
  padding-top: 27px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-top: 2px solid var(--color-secondary);
}

.card__container-button {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.card__icon-button {
  height: 38px;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
  padding: 0;
  margin-right: 5px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-secondary);
}

.card__like-button {
  width: 130px;
  height: 38px;
  background-color: transparent;
}

.main__button-footer {
  margin: 49px auto 0;
  padding: 17px 20px;
}

.button {
  min-height: 38px;
  background-color: var(--color-primary);
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  font-family: var(--accent-font);
  border: var(--border-default);
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-primary);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 4;
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--color-secondary);
}

.button:hover.button::after {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.button__text {
  line-height: 0.9;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
}

.button svg {
  fill: var(--color-primary);
  inline-size: 21px;
  block-size: 21px;
  object-fit: cover;
  object-position: center;
}

.popup {
  position: fixed;
  inset: 0;
  padding: 0;
}

.popup::backdrop {
  background-color: var(--color-secondary);
  opacity: 0.75;
}

.popup__container {
  max-width: 353px;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.popup__text {
  font-size: 14px;
  font-family: var(--accent-font);
  font-weight: 400;
  line-height: 1.5;
  max-width: 234px;
  text-transform: uppercase;
}

.popup__container .button {
  text-transform: uppercase;
  justify-content: center;
  max-width: 293px;
}

.popup__header svg {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.card__images_brightness {
  filter: brightness(1.4);
}

.card__images_contrast {
  filter: contrast(170%);
}

.card__images_blur {
  filter: blur(3px);
}

.card__images_opacity {
  filter: opacity(0.65);
}

.card__images_grayscale {
  filter: grayscale(100%);
}

.card__images_saturate {
  filter: saturate(220%);
}

.card__images_filter-multiple {
  filter: sepia(80%) contrast(115%) brightness(0.9) saturate(150%);
}

@media (width <= 375px) {
  .main {
    margin-top: 100px;
  }

  .card__footer {
    padding-top: 27px;
  }

  .card__container-img {
    height: 371px;
  }

  .button {
    gap: 13px;
    flex-direction: column;
  }

  .button svg {
    transform: scale(1.33);
  }

  .popup__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}