:root {
  --main-font: "Inter", "Arial", sans-serif;
  --accent-font: "Press Start 2P", "Courier New", monospace;
  --main-text-weight: 410;
  --card-title-weight: 715;
  --content-width: clamp(375px, calc(260.56px + 30.5164vw), 700px);
  --color-primary: rgba(255, 255, 255, 1);
  --border-default: 2px solid var(--color-secondary, #000);
  --color-secondary: rgba(0, 0, 0, 1);
  --text-base: 18px;
  --contour-color: #000000;
  --page-background: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --animation-fill-color: red;
}
